<div class="container">
    <h2>Acciones</h2>
    <div
      cdkDropList
      #accionesList="cdkDropList"
      [cdkDropListData]="actions"
      [cdkDropListConnectedTo]="[ejecutableList]"
      class="list-group void-list"
      (cdkDropListDropped)="drop($event)">
      <div class="list-group-item" *ngFor="let item of actions" cdkDrag>{{item?.label}}</div>
  </div>
</div>
  
<div class="container">
    <h2>Ejecutable</h2>
  
    <div
      cdkDropList
      #ejecutableList="cdkDropList"
      [cdkDropListData]="actionsToExe"
      [cdkDropListConnectedTo]="[accionesList]"
      class="list-group void-list"
      (cdkDropListDropped)="drop($event)">
      <div class="list-group-item" *ngFor="let item of actionsToExe" cdkDrag>{{item?.label}}</div>
</div>

</div>
<div class="container">
  <button type="button" class="btn btn-primary" (click)="ejecutar()">Ejecutar</button>
</div>

